<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestAll">

    <test name="original-session-test" enabled="false">
        <classes>
            <class name="info.unbelievable9.zookeeper.original.ZkSessionTest"/>
        </classes>
    </test>

    <test name="original-sync-async-test" enabled="false">
        <groups>
            <run>
                <include name="node-operation-async"/>
            </run>
        </groups>

        <classes>
            <class name="info.unbelievable9.zookeeper.original.ZkSyncTest"/>
            <class name="info.unbelievable9.zookeeper.original.ZkAsyncTest"/>
        </classes>
    </test>

    <test name="original-acl-test" enabled="false">
        <classes>
            <class name="info.unbelievable9.zookeeper.original.ZkAclTest"/>
        </classes>
    </test>

    <test name="zkclient-session-test" enabled="true">
        <classes>
            <class name="info.unbelievable9.zookeeper.zkclient.ZkClientTest"/>
        </classes>
    </test>

</suite>