<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestAll">

    <test name="session" enabled="false">
        <classes>
            <class name="info.unbelievable9.zookeeper.original.ZkSessionTest"/>
        </classes>
    </test>

    <test name="sync-async" enabled="false">
        <groups>
            <run>
                <include name="node-operation-async"/>
            </run>
        </groups>

        <classes>
            <class name="info.unbelievable9.zookeeper.original.ZkSyncTest"/>
            <class name="info.unbelievable9.zookeeper.original.ZkAsyncTest"/>
        </classes>
    </test>

    <test name="acl">
        <classes>
            <class name="info.unbelievable9.zookeeper.original.ZkAclTest"/>
        </classes>
    </test>

</suite>